DATABASE_URL=postgres://saleor:CHANGE_ME@db:5432/saleor
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
SECRET_KEY=CHANGE_ME_GENERATE_WITH_openssl_rand_hex_32
ALLOWED_HOSTS=api.YOURDOMAIN.com,localhost,api
ALLOWED_CLIENT_HOSTS=shop.YOURDOMAIN.com,admin.YOURDOMAIN.com
CORS_ALLOWED_ORIGINS=https://shop.YOURDOMAIN.com,https://admin.YOURDOMAIN.com
CSRF_TRUSTED_ORIGINS=https://api.YOURDOMAIN.com,https://admin.YOURDOMAIN.com
DEFAULT_COUNTRY=AT
DEFAULT_CURRENCY=EUR
DEBUG=False
PUBLIC_URL=https://api.YOURDOMAIN.com
DASHBOARD_URL=https://admin.YOURDOMAIN.com
STOREFRONT_URL=https://shop.YOURDOMAIN.com
SECURE_SSL_REDIRECT=False
ENABLE_SSL=False
SECURE_HSTS_SECONDS=0
SECURE_SSL_HOST=
