# Secrets – NIEMALS committen
.env
.env.api
rsa_private.pem

# Node
storefront/node_modules/
storefront/.next/

# Docker Volumes
saleor-db/
saleor-redis/
saleor-media/

# OS
.DS_Store
storefront/
storefront/
