NEXT_PUBLIC_DEFAULT_CHANNEL=oe
NEXT_PUBLIC_SALEOR_API_URL=https://api.edelbrandfreunde.at/graphql/
NEXT_PUBLIC_STOREFRONT_URL=https://shop.edelbrandfreunde.at

# Generate with: openssl rand -hex 32
REVALIDATE_SECRET=
SALEOR_WEBHOOK_SECRET=
